.vercel
.DS_Store
**/.DS_Store
badges/Screenshot*
badges/Download-on-the-App-Store/AR/
badges/Download-on-the-App-Store/AZ/
badges/Download-on-the-App-Store/BG/
badges/Download-on-the-App-Store/CAES/
badges/Download-on-the-App-Store/CN*/
badges/Download-on-the-App-Store/CZ/
badges/Download-on-the-App-Store/DE/
badges/Download-on-the-App-Store/DK/
badges/Download-on-the-App-Store/EE/
badges/Download-on-the-App-Store/ES/
badges/Download-on-the-App-Store/ESMX/
badges/Download-on-the-App-Store/FI/
badges/Download-on-the-App-Store/FR/
badges/Download-on-the-App-Store/FRCA/
badges/Download-on-the-App-Store/GR/
badges/Download-on-the-App-Store/HB/
badges/Download-on-the-App-Store/HK*/
badges/Download-on-the-App-Store/HR/
badges/Download-on-the-App-Store/HU/
badges/Download-on-the-App-Store/ID/
badges/Download-on-the-App-Store/IL/
badges/Download-on-the-App-Store/IN*/
badges/Download-on-the-App-Store/IT/
badges/Download-on-the-App-Store/JP/
badges/Download-on-the-App-Store/KR/
badges/Download-on-the-App-Store/LT/
badges/Download-on-the-App-Store/LV/
badges/Download-on-the-App-Store/MT/
badges/Download-on-the-App-Store/MY/
badges/Download-on-the-App-Store/NL/
badges/Download-on-the-App-Store/NO/
badges/Download-on-the-App-Store/PH/
badges/Download-on-the-App-Store/PL/
badges/Download-on-the-App-Store/PTBR/
badges/Download-on-the-App-Store/PTPT/
badges/Download-on-the-App-Store/RO/
badges/Download-on-the-App-Store/RU/
badges/Download-on-the-App-Store/SE/
badges/Download-on-the-App-Store/SI/
badges/Download-on-the-App-Store/SK/
badges/Download-on-the-App-Store/SL*/
badges/Download-on-the-App-Store/TH/
badges/Download-on-the-App-Store/TR/
badges/Download-on-the-App-Store/UA/
badges/Download-on-the-App-Store/US/.DS_Store
badges/Download-on-the-App-Store/US/Download_on_App_Store/.DS_Store
badges/Download-on-the-App-Store/US/Download_on_App_Store/Black_lockup/EPS/
badges/Download-on-the-App-Store/US/Download_on_App_Store/White_lockup/
badges/Download-on-the-App-Store/VN/
